<!DOCTYPE html>
<html>
<head>
    <title>Travel Translator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="app-container">
        <h1>Travel Translator</h1>
        <div class="lang-container">
            <select id="inputLanguage" class="lang-selector">
                <option value="fr">French</option>
                <option value="en">English</option>
                <option value="zh">Chinese</option>
                <option value="ja">Japanese</option>
                <option value="da">Danish</option>
                <option value="sv">Swedish</option>
                <option value="es">Spanish</option>
                <option value="de">German</option>
                <option value="it">Italian</option>
                <option value="hi">Hindi</option>
                <option value="ar">Arabic</option>
                <option value="pt">Portuguese</option>
                <option value="ru">Russian</option>
                <option value="vi">Vietnamese</option>
                <option value="ko">Korean</option>
                <option value="tr">Turkish</option>
                <!-- Add more options as necessary -->
            </select>         
            <img src="/static/img/arrow.png" alt="arrow" id="arrow"> 
            <select id="outputLanguage" class="lang-selector">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="zh">Chinese</option>
                <option value="ja">Japanese</option>
                <option value="da">Danish</option>
                <option value="sv">Swedish</option>
                <option value="es">Spanish</option>
                <option value="de">German</option>
                <option value="it">Italian</option>
                <option value="hi">Hindi</option>
                <option value="ar">Arabic</option>
                <option value="pt">Portuguese</option>
                <option value="ru">Russian</option>
                <option value="vi">Vietnamese</option>
                <option value="ko">Korean</option>
                <option value="tr">Turkish</option>
                <!-- Add more options as necessary -->
            </select>
        </div>
    <button id="recordButton" onclick="toggleRecording()">Start</button>
        <div id="transcriptContainer">
            <h2 id="transcriptText">Transcript</h2>
            <div id="transcript"></div>
        </div>
        <div id="translationContainer">
            <h2 id="translationText">Translation</h2>
            <div id="translation"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
